
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
    background-color: blanchedalmond;
    color:darkslategray;
    font-family: "Ubuntu", sans-serif;
}
.mymenustyle {
    background-color: blanchedalmond;
    color:pink;
    font-family: 'Courier New', Courier, monospace;
}

.mycol {
    color: darkblue;
    
}

a:hover {
    background-color: white  !important;
    color:red  !important;;
    
}

.mycolactive {
    color:darkgreen;
    font-weight: bold;
    
}

footer {
    margin-top: 100px;
}

.thumb {
    width: 180px;
}

.gallerypic {
    margin: 20px;
    padding: 10px;
    border: solid, 3px;

}